/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Apr 2021, 12:06:14 am
    Author     : marinasantanelli
*/


body {
    background-image: url("IOT-back.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif; 
}


h1{
    color: white;
    font-weight: bold;
}

.p {
    color: white;
    font-weight: bold;
    font-size: 16px;
}


.link {
    color: #0066cc;
    font-weight: bold;
    font-size: 16px;
}

div{
    color: white;
    font-weight: bold;
}

td {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

input {
    color: black;
    width: 140%;
    height: 30px;
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background: #f1f1f1;

}


.button {
    display: inline-block;
    padding: 6px 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: lightblue;
    border: none;
    border-radius: 10px;
    width: 80px; 
}

.button:hover {
    background-color: darkblue;
}

.button:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.radioLabel {
    text-align: center;
}


