/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Apr 2021, 12:06:14 am
    Author     : marinasantanelli

//background-size: cover;
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    
  /*padding: 25px;
  //background: url("IOT-back.jpg");
  background: url("white_background.jpg");
  background-repeat: no-repeat;
  background-size: Auto 150px;*/
    margin: 0;
    background-image: url("white_background.jpg");
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

/* This one is not displaying yet */ 
.banner {
    background-image:  url("IoT.jpg");
}

.header {
  background-color: #003060;
  width: auto; 
  padding: 0px;
  text-align: center;
}


h1{
    color: grey;
    font-weight: bold;
    text-align: center;
}

p {
    color: grey;
    font-weight: bold;
    font-size: 16px;
    text-align: center; 
}


.link {
    color: #0066cc;
    font-weight: bold;
    font-size: 16px;
}

div{
    color: #666666;
    font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th { 
    background-color: #00B4CC;
    color: white; 
}
td {
  text-align: left;
  padding: 8px;
}

input {
    color: black;
    width: 100%;
    height: 30px;
    display: inline-block;
    border: groove; 
    font-size: 14px;
    font-weight: bold;
    background: #ffffff;

}


.button {
    display: inline-block;
    padding: 6px 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: lightblue;
    border: none;
    border-radius: 10px;
    width: 80px; 
}
    
.button-container-div {
    text-align: center;
    height: 5vh;
    width: auto;
}

.button:hover {
    background-color: darkblue;
}

.button:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar3*/
.topnav {
  overflow: hidden;
  background-color: #E6E6EA;
  
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s all; 
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Search bar */ 
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* new code ends here*/

.topnav .search-container {
  float: centre;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}


@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
/* Line spacing */

.container-header{
    line-height: 1.22;
}
.topmenu li {
    display:inline-block;
    font-size: 1.5em;
    text-align: right;
    line-height: 1.22;
    float: left;
}
.topmenu.omega{
     float:right;
}
ul{
     margin: 0;
}
li>a
{
    font-size: 20px;
}

 /* Side bar  */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d3d3d3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

/* Side bar links */ 
.sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    /*side bar current link */ 
.sidenav a:hover {
  color: #ffffff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.containter {
    line-height: 1.22;
    witdth: 15%;
    color: grey;
    font-weight: bold;
    font-size: 16px;
    text-align: center; 
}

