<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminAuthFilter</filter-name>
        <filter-class>uts.isd.controller.AdminAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ConnServlet </servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>uts.isd.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogsServlet</servlet-name>
        <servlet-class>uts.isd.controller.UserLogsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>uts.isd.controller.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductsServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
        <url-pattern>/ProfileServlet/Admin/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogsServlet</servlet-name>
        <url-pattern>/UserLogsServlet</url-pattern>
        <url-pattern>/UserLogs</url-pattern>
        <url-pattern>/AdminLogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/ProductsServlet</url-pattern>
        <url-pattern>/ProductsServletList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductsServlet</servlet-name>
        <url-pattern>/AddProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressServlet</servlet-name>
        <url-pattern>/AddressServlet</url-pattern>
        <url-pattern>/AddAddress</url-pattern>
        <url-pattern>/FindAddress</url-pattern>
        <url-pattern>/UpdateAddress</url-pattern>
        <url-pattern>/DeleteAddress</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
